<%# Form to create a new board %>
<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <%= label f, :name %>
  <%= text_input f, :name, class: "rounded shadow text-gray-700" %>
  <%= error_tag f, :name %>

  <div class="mt-16">
    <%= submit "Save", class: "primary-button" %>
  </div>
<% end %>
