<h1> <%= @board.name %></h1>

<div class="board-columns">
    <%= for c <- @board.columns do %>
        <div class="board-column">
            <h3 class="board-title"><%= c.title %></h3>
                <div>
                    <%= live_render(@conn, RetrospectorWeb.BoardCardsLive, session: %{"column_id" => c.id}) %>
                </div>
        </div>
    <% end %>
</div>
