<h1> <%= @board.name %></h1>

<div class="board-columns">
    <%= for c <- @board.columns do %>
    <div class="board-column">
        <h3 class="board-title"><%= c.title %></h3>
            <%= for card <- c.cards do %>
            <div class="card">
            <%= card.content %>
            </div>
    <% end %>
        <div class="centered">
            <%= button("add", to: Routes.board_card_path(@conn, :new, @board.id, column_id: c.id),method: :get)%>
        </div>
    </div>
    <% end %>
</div>
