<div class="w-full">
  <.form let={f} for={@changeset} phx-submit="save" class="card-form">     
    <%= textarea f, :content, class: "flex grow rounded text-gray-600 w-full" %>
    <%= hidden_input f, :board_id, value: @board_id %>
    <%= hidden_input f, :column_id, value: @column_id %>
    <div class="flex justify-center">
      <%= submit "Add", class: "primary-button" %>
    </div>
  </.form>
  <div class="mt-8 ">
    <%= for card <- @cards do %>
    <div class="rounded p-4 mb-4 bg-gray-700 text-gray-200 whitespace-normal w-full">
      <%= if @revealed do %>
        <%= card.content %>
      <% else %>
        Content hidden
      <% end %>
    </div>
    <% end %>
  </div>
</div>
