
.board-columns {
    border: 1px solid rebeccapurple;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-evenly;
    background-color: aliceblue;
}

.board-column {
    border: 1px solid #0f6674;
    flex: 1;
}

.board-title {
    padding: 8px;
}

.centered {
    display: flex;
    justify-content: center;
}