
.board-columns {
    border: 1px solid rebeccapurple;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-evenly;
    background-color: aliceblue;
}

.board-column {
    border: 1px solid #0f6674;
    flex: 1;
}

.board-title {
    padding: 8px;
}

.centered {
    display: flex;
    justify-content: center;
}

.card {
    margin : 8px;
    padding: 8px;
    border-radius: 8px;
    background-color: white;
    color: #222222;
    box-shadow: lightgray 4px 4px 4px;
}